
div.body {
	padding-top:20px;
}

#profile-photo {
	width:128px;
	height:128px;
	border: 1px solid black;
}

#profile-name {
	font-size:14px;
	color:#7f8c8d;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
}

#profile-karma {
	padding:5px 15px ;
	background-color:#ecf0f1;
	color:#e74c3c;
	font-weight: 700;
}

#recent-act-header {
	color:#3498db;
	margin-bottom:15px;
	font-size: 14px;
}

#recent-act-container {
	margin-left:10px;
	top:30px;
	position:relative;
}

.recent-act-item {
	margin-left:10px;
	font-size: 12px;
}

#recent-act-list hr {
margin: 15px !important;
}