div#header {
	background-color:#3498db;
	padding:10px;
	margin:0px;
	top:0px;
	position:fixed;
	width:100%;
	height:40px;
}

h1#logo {
	font-size:18px;
	color:white;
	margin:0px;
	text-align:center;
}


div#footer {
	/* padding:10px; */
	bottom:0px;
	height:40px;
	position:fixed;
	background-color:#ecf0f1;
	width:100%;
	text-align:center;
	color:#7f8c8d;
}


div.footer-tab {
	height:100%;
	padding:10px;
}

div.body {
	top:40px;
	position:relative;
	padding-bottom:80px;
}